html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

#about {
  scroll-snap-align: start;
}

#education {
  scroll-snap-align: start;
}

#projects {
  scroll-snap-align: start;
}

#skills {
  scroll-snap-align: start;
}

#interests {
  scroll-snap-align: start;
}
