@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: var(--background);
  --color-background-accent: var(--background-accent);
  --color-text: var(--text);
  --color-text-accent: var(--text-accent);
  --color-border: var(--border);
  --color-positive: var(--positive);
}

:root {
  --background: #222222;
  --background-accent: #333333;
  --text: #ffffff;
  --text-accent: #cccccc;
  --border: #d1d5dc;
  --positive: #1976d2;
}

/* Apply to every prose container */
.prose {
  --tw-prose-body: var(--color-text);
  --tw-prose-headings: var(--color-text);
  --tw-prose-lead: var(--color-text);
  --tw-prose-links: var(--color-text);
  --tw-prose-bold: var(--color-text);
  --tw-prose-counters: var(--color-text);
  --tw-prose-bullets: var(--color-text);
  --tw-prose-quotes: var(--color-text);
  --tw-prose-code: var(--color-text);
  --tw-prose-th-borders: var(--color-text);
  --tw-prose-td-borders: var(--color-text);
}
